<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Typing Contest{% endblock %}</title>
  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: "#1E3A8A", // Dark blue
            accent: "#10B981",  // Green
          }
        }
      }
    };
  </script>
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    main {
      flex: 1;
    }
  </style>
</head>
<body class="bg-gray-100">
  {% include 'components/navbar.html' %}

  <!-- Main Content -->
  <main>

  {% include 'components/flash.html' %}
    {% block content %}
    {% endblock %}
  </main>

  {% include 'components/footer.html' %}
  <script>
    // Mobile Menu Toggle
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    menuToggle.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  </script>
  <script src="https://kit.fontawesome.com/756158682e.js" crossorigin="anonymous"></script>
</body>
</html>
